{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.8.0"},
    {cowlib, "2.9.1"},
    {ranch, "1.7.1"},
    {jsx, "3.0.0"}
]}.

{relx, [
    {release, {'real_time_code_editor', "0.1.0"},
        [real_time_code_editor, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
