[
  {kernel, [
    {inet_dist_listen_min, 9100},
    {inet_dist_listen_max, 9105}
  ]},
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},
    {error_logger_mf_maxbytes, 10485760},
    {error_logger_mf_maxfiles, 10}
  ]}
].
